* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --btn:#03a9f4;
  --btn-bg:#ffffff;
  --black:#000000;
  --gray:#808080;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--btn);
  color: var(--btn-bg);
  font-size: 18px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn-reverse {
  background-color: var(--btn-bg);
  color: var(--btn);
  border: 1px solid var(--btn);
}

.btn-small {
  padding: 8px 15px;
  font-size: 14px;
}

.btn:hover {
  opacity: 0.7;
}

.card-container {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.5);
          box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.5);
}

.card-container .card-img img {
  cursor: pointer;
  width: 100%;
}

.card-container .card-box-content {
  padding: 25px 20px;
}

.card-container .card-box-content h1 {
  font-size: 20px;
  padding-bottom: 10px;
}

.card-container .card-box-content p {
  color: var(--gray);
  padding-bottom: 10px;
}

.card-container:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

header {
  background-color: var(--btn-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

header .container-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container-head .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container-head .logo img {
  width: 200px;
}

header .container-head ul.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-head ul.navbar li {
  list-style: none;
}

header .container-head ul.navbar li a {
  padding: 0 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--black);
}

header .container-head ul.navbar li a:hover {
  color: var(--btn);
}

.menu-respon {
  display: none;
}

footer {
  background-image: url("https://images.unsplash.com/photo-1575330719343-23de81f5b995?ixlib=rb-1.2.1&auto=format&fit=crop&w=1067&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  background-color: rgba(255, 255, 255, 0.6);
  height: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "footer-left footer-center";
  padding: 40px 0;
}

.footer .footer-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer-left;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.footer .footer-left h1 {
  font-size: 20px;
  text-transform: uppercase;
}

.footer .footer-left p {
  font-size: 16px;
}

.footer .footer-center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footer-center;
  text-align: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.footer .footer-center li {
  list-style-type: none;
  padding: 3px 0;
}

.footer .footer-center li a {
  text-transform: uppercase;
  font-size: 18px;
  color: var(--black);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer-center li a:hover {
  color: var(--orange);
}

.bg-blue {
  background-color: var(--btn);
}

.text-color {
  color: var(--btn);
}

.input-form {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 10px;
  }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .container-head ul.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
    background-color: #ccc;
  }
  header .container-head ul.navbar li {
    padding: 10px;
  }
  header .container-head ul.navbar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-respon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    padding: 10px;
  }
  footer .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "top-side" "bottom-side";
  }
  footer .footer .footer-left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: top-side;
  }
  footer .footer .footer-center {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: bottom-side;
    display: none;
  }
}
/*# sourceMappingURL=global.css.map */