:root {
  --btn:#03a9f4;
  --btn-bg:#ffffff;
}

.btn {
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--btn);
  color: var(--btn-bg);
  font-size: 18px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn-reverse {
  background-color: var(--btn-bg);
  color: var(--btn);
  border: 1px solid var(--btn);
}

.btn-small {
  padding: 8px 15px;
  font-size: 14px;
}

.btn:hover {
  opacity: 0.7;
}

.card-container {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.5);
          box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.5);
}

.card-container .card-img img {
  cursor: pointer;
  width: 100%;
}

.card-container .card-box-content {
  padding: 25px 20px;
}

.card-container .card-box-content h1 {
  font-size: 20px;
  padding-bottom: 10px;
}

.card-container .card-box-content p {
  color: var(--gray);
  padding-bottom: 10px;
}

.card-container:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

header {
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

header .container-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container-head .logo h1 {
  background-color: var(--orange);
  border-radius: 3px;
  text-transform: uppercase;
  color: var(--white);
  padding: 5px;
}

header .container-head ul.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-head ul.navbar li {
  list-style: none;
}

header .container-head ul.navbar li a {
  padding: 0 10px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--black);
}

header .container-head ul.navbar li a:hover {
  color: var(--orange);
}

.menu-respon {
  display: none;
}

@media only screen and (max-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 10px;
  }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .container-head ul.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  header .container-head ul.navbar li {
    padding: 5px;
  }
  header .container-head ul.navbar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-respon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=global.css.map */