// public class //--------------------------------------------------------------
// public class //
:root{
    --btn:#03a9f4;
    --btn-bg:#ffffff;
}
    // button
    .btn {
        border: none;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        background-color: var(--btn);
        color: var(--btn-bg);
        font-size: 18px;
        opacity: 1;
        transition: 0.3s;
        cursor: pointer;
    }
    .btn-reverse{
        background-color: var(--btn-bg);
        color: var(--btn);
        border: 1px solid var(--btn);
    }
    .btn-small{
        padding: 8px 15px;
        font-size: 14px;
    }
    .btn:hover{
        opacity: 0.7;
    }

    // card-item
    .card-container{
        width: 100%;
        // background-color: #ff7e14;
        // border: 1px solid #ff7e14;
        transition: 0.3s;
        box-shadow: 10px 10px 10px rgba(128, 128, 128,0.5);
        .card-img{
            img{
                cursor: pointer;
                width: 100%;
            }
        }
        .card-box-content{
            padding: 25px 20px;
            h1{
                font-size: 20px;
                padding-bottom: 10px;
            }
            p{
                color: var(--gray);
                padding-bottom: 10px;
            }
        }
    }
    .card-container:hover{
        transform: translate(-10px ,-10px);
    }
    
//navbar header
header {

    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    .container-head{

        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;

        .logo{
            
            h1{
                background-color: var(--orange);
                border-radius: 3px;
                text-transform: uppercase;
                color: var(--white);
                padding: 5px;
            }

        }

        ul.navbar{
            display: flex;
            align-items: center;
    
            li{
                list-style: none;
                
                a{
                    padding: 0 10px;
                    font-size: 15px;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: 0.5s;
                    color: var(--black);
                }
                a:hover{
                    color: var(--orange);
                }
            }
        }
    }
}
//menu responsive
.menu-respon{
    display: none;
}


@media only screen and (max-width: 768px) {
    
    header{
        display: flex;
        padding: 10px 10px;
        .logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
        .container-head{
            
            display: flex;
            flex-direction: column;

            ul.navbar{
                display: flex;
                flex-direction: column;
                display: none;
                li{
                    padding:5px;
                }
            }
            ul.navbar.active{
                display: flex;
            }
        }

    }
    .menu-respon{
        display: flex;
    }
}
